*.suo
*.user
_ReSharper.*
bin
obj
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db

/portfolio/bin
/portfolio/obj