



*.suo
*.user
/TestResults
*.vspscc
*.vssscc
obj

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
/portfolio/obj/Debug/portfolio.csproj.FileListAbsolute.txt
/portfolio/obj/debug/portfolio.dll
/portfolio/obj/debug/portfolio.pdb
/portfolio/obj/Debug/portfolio.dll
/portfolio/obj/debug/portfolio.pdb
/portfolio/obj/debug/portfolio.pdb
/portfolio/obj/Debug/portfolio.pdb

/portfolio/obj/Debug/ResolveAssemblyReference.cache