



*.suo
*.user
/TestResults
*.vspscc
*.vssscc
/obj*
/bin*

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db


/portfolio/obj/Debug/ResolveAssemblyReference.cache