@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row aboutrow">
<div class="fourcol">
            <div class="abouttitle">
                What
            </div>
</div>
<div class="eightcol last">
               <div class="abouttext">
                    we are building some of most innovative user centric products if the world. from
                    social commerce plugins to project managment tools all are products focus on user
                    experience and providing innovative new ways. lorem ipsum is simply dummy text of
                    the printing and typesetting industry. lorem ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. it has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                    it was popularised in the 1960s with the release of letraset sheets containing lorem
                    ipsum passages
                </div>
</div>
</div>


<div class="row aboutrow">
<div class="fourcol">
            <div class="abouttitle">
                Who
            </div>
</div>
<div class="eightcol last">
               <div class="abouttext">
             <div class="sixcol">
                        <div class="avt">
                            <div class="arrowAvatar">
                            </div>
                            <img width="60px" height="60px" src="../../Content/images/harry.jpg" />
                        </div>
                        <h5>
                            Harry McCarney Founder/CEO
                        </h5>
                        <div class="contactLinksBox">
                            <a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank">
                                <img src="../../Content/images/linkedin.gif"></a> <a href="https://www.xing.com/profile/Harry_McCarney"
                                    target="_blank">
                                    <img src="../../Content/images/xing.png"></a> <a href="http://twitter.com/hmccarney"
                                        target="_blank">
                                        <img src="../../Content/images/twitter-icon.png"></a>
                        </div>

                        <div class="profiletext">
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                        
                        </div>
                    </div>

                        <div class="sixcol last">
                        <div class="avt">
                            <div class="arrowAvatar">
                            </div>
                            <img width="60px" height="60px" src="../../Content/images/martin.jpg" />
                        </div>
                        <h5>
                            Martin Peschke Founder/CTO
                        </h5>
                        <div class="contactLinksBox">
                            <a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank">
                                <img src="../../Content/images/linkedin.gif"></a> <a href="https://www.xing.com/profile/Harry_McCarney"
                                    target="_blank">
                                    <img src="../../Content/images/xing.png"></a> <a href="http://twitter.com/hmccarney"
                                        target="_blank">
                                        <img src="../../Content/images/twitter-icon.png"></a>
                        </div>
                        <div class="profiletext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. 
                        </div>

                    </div>
                </div>
</div>
</div>



<div class="row aboutrow">
<div class="fourcol">
            <div class="abouttitle">
                Where
            </div>
</div>
<div class="eightcol last">
               <div class="abouttext">
      <div class="sixcol">
                Based in the heart of east Berlin, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur.
                 </div>
                    <div class="sixcol last">
                <div class="mapavt">
               <div class = "picborder">  <img  src="../../Content/images/berlin.png" /></div>
                 </div>
                 </div>
                </div>
</div>
</div>



<div class="row aboutrow">
<div class="fourcol">
            <div class="abouttitle">
                What
            </div>
</div>
<div class="eightcol last">
               <div class="abouttext">
         <div class="sixcol">
                             We make you vision a reality, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur.
                </div>
                <div class="sixcol last">
                    <img src="../../Content/images/process.gif" />
                </div>
                </div>
</div>
</div>
        


