@{
  ViewBag.Title = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.PageTitle = "About";
}

<div class="row aboutrow">
  <div class="fourcol">
    <div class="abouttitle">
      What
    </div>
  </div>
  <div class="eightcol last">
    <div class="abouttext">
      8sprints turns ideas into products. We are passionate about turning simple good ideas into fully featured 
      products in the shortest time possible. In that past we have produced the technoolgy behind some of the best 
      known consumer websites in Europe. Most recently we turned a rough group gifting idea into the global ecommerce 
      innovation friendfund.com. Using agile development methodology and dynamic design based thinking we turn your 
      idea into a live working product in just eight feedback driven iterations. 
    </div>
  </div>
</div>
<div class="row aboutrow">
  <div class="fourcol">
    <div class="abouttitle">
      Who
    </div>
  </div>
  <div class="eightcol last">
    <div class="abouttext">
      <div class="sixcol">
        <div class="avt">
          <div class="arrowAvatar">
          </div>
          <img width="60px" height="60px" src="../../Content/images/harry.jpg" />
        </div>
        <h5>
          Harry McCarney Founder/CEO
        </h5>
        <div class="contactLinksBox">
          <a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank">
            <img src="../../Content/images/linkedin.gif"></a> <a href="https://www.xing.com/profile/Harry_McCarney" target="_blank">
              <img src="../../Content/images/xing.png"></a> <a href="http://twitter.com/hmccarney" target="_blank">
                <img src="../../Content/images/twitter-icon.png"></a>
        </div>
        <div class="profiletext">
          Harry has over 10 years experience building tech products for a wide range of clients from investment banks, multi national NGOs to early stage startups.
          He is passionate about how a simple very rough idea can be fleshed out and transformed into fully featured products.
        </div>
      </div>
      <div class="sixcol last">
        <div class="avt">
          <div class="arrowAvatar">
          </div>
          <img width="60px" height="60px" src="../../Content/images/martin.jpg" />
        </div>
        <h5>
          Martin Peschke Founder/CTO
        </h5>
        <div class="contactLinksBox">
          <a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank">
            <img src="../../Content/images/linkedin.gif"></a> <a href="https://www.xing.com/profile/Harry_McCarney" target="_blank">
              <img src="../../Content/images/xing.png"></a> <a href="http://twitter.com/hmccarney" target="_blank">
                <img src="../../Content/images/twitter-icon.png"></a>
        </div>
        <div class="profiletext">
          Martin has over 8 years professional experience building software for the private sector. Full stack web app development, from database to javascript rich UI's, test and test automation are his passion.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row aboutrow">
  <div class="fourcol">
    <div class="abouttitle">
      Where
    </div>
  </div>
  <div class="eightcol last">
    <div class="abouttext">
      <div class="eightcol">
        Based in the heart of east Berlin, the cultural center and the startup capital of Europe. 
        We work with the most talented creatives on the most innovative projects. 
        This gives us a uniquely fresh approach to our work and the opportunity to get feedback from local artists and entrepreneurs who are shaping our 
        future. We leverage our agile, feedback based methodology using skype conferencing fro clients all over the world. 
        We do insist on meeting our clients face to face at least once, either here in our work shop or at your location.
      </div>
      <div class="fourcol last">
        <div class="mapavt">
          <div class="picborder">
            <img src="../../Content/images/berlin.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row aboutrow">
  <div class="fourcol">
    <div class="abouttitle">
      How
    </div>
  </div>
  <div class="eightcol last">
    <div class="abouttext">
      <div class="eightcol">
        Our team's combined experience of over 20 years has led to us a very refined and focused development methodology for 
        rapidly brainstorming ideas to full featured live products in less than 2 months. We divide a project 
        into 8 sprints each of which lasts 1 to 2 weeks. At the start of each sprint we specify with you what 
        we want to build in the sprint. At the end of each sprint we release the features in fully testable format 
        which you can use. This process ensures that you get regular meaningful feedback and steer your product's development 
        from beginning to end.
      </div>
      <div class="fourcol last">
        <img src="../../Content/images/process.gif" />
      </div>
    </div>
  </div>
</div>
