@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "Home";
}
<div class="row">
<div class="homepage container">

<div class="row">

       <div class="sixcol keywords">
       Design</br>
       Build</br>
       Test</br>
       Feedback
       </div> 
       <div class="sixcol last multiple">
       x8</div> 
    </div>
</div>
</div>
