@{
  ViewBag.Title = "Home";
  ViewBag.PageTitle = "Home";
}
<div class="row">
  <div class="keywords">
    <div class="twelvecol">
      Design</div>
    <div class="twelvecol">
      Build</div>
    <div class="twelvecol">
      Test</div>
    <div class="eightcol">
      Feedback</div>
    <div class="fourcol multiple last">
      x8</div>
  </div>
</div>
