@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "Home";
}
<div class="row">
    <div class="threecol"><div class="arrowstem clear"></div><div class="triangle-right"></div></div>
    <div class="twocol"></div>
    <div class="sevencol last"> </div>
</div>
