@{
    ViewBag.Title = "Home";

    ViewBag.PageTitle = "Home";
}

<div class="row">
       <div class="sixcol keywords">
       Design
       Build
       Test
       Feedback
       </div> 
       <div class="sixcol last multiple">
       x6</div> 
</div>