@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = "Home";
}
<div class="row">
<div class="homepage">

<div class="row">

       <div class="sixcol keywords">
       Design</br>
       Build</br>
       Test</br>
       Feedback
       </div> 
       <div class="sixcol last multiple">
       x8</div> 
    
    <div class="twelvecol slogan"> 
    <span class="weare">We turn ideas into products.</span> </br>
    <span class="vision">we a</span>
    </div>
</div>





</div>

</div>
