@{
    ViewBag.Title = "Imprint & Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Imprint & Privacy";
}
<div id="imprint" class="row aboutrow">
<div class="sixcol">
<div class="imprintbody">
  8sprints </br>
  Landsberger Allee 117</br>
  10407 Berlin</br>
  +49 (30) 99272540</br>
  Managing Directors: Henry George McCarney, Martin Peschke     
  </div>
</div>
<div class="sixcol last">
  <div class="imprintbody">
    8sprints are 100% commited to your privacy and will not share your contact information or the details of  any enquiry.
    This sites does not use any cookies and only gathers annonymous information for analysis through google analytics.
  </div>
</div>
</div>




