@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*services*@
<div class="services">
    <div class="row">
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
       <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
        <div class="fourcol last">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
    </div>
    <div class="row">
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
       <div class="fourcol last">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
    </div>
</div>
