@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*infographic*@
<div class="twelevecol last border">
</div>
<div class="twelevecol last infographic">
    <div class="twelevecol last sectiondivide">
    </div>
    <div class="twelevecol last sectiondivide">
    </div>
    <div class="twocol">
    </div>
    <div class="row">
        <div class="fourcol video">
            <iframe src="http://player.vimeo.com/video/30402976?title=0&amp;byline=0&amp;portrait=0"
                width="500" height="281" frameborder="0" webkitallowfullscreen allowfullscreen>
            </iframe>
        </div>
        <div class="fourcol slogan">
            Discover your customers with enaging social commerce apps.</div>
        <div class="twocol">
        </div>
    </div>
    <div class="twelevecol last sectiondivide">
    </div>
    <div class="twelevecol last sectiondivide">
    </div>
</div>
<div class="twelevecol last border">
</div>
@*services*@
<div class="services">
    <div class="row">
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
       <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
        <div class="fourcol last">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
    </div>
    <div class="row">
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
        <div class="fourcol">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
       <div class="fourcol last">
        <div class="service">
            <div class="mask">
            </div>
         </div>
        </div>
    </div>
</div>
