@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*infographic*@
<div class="twelevecol last infographic">
<div class="twelevecol last sectiondivide"></div>
<div class="twelevecol last sectiondivide"></div>

<div class="twocol"></div>
<div class ="row">
<div class="fourcol video"><iframe src="http://player.vimeo.com/video/30402976?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe></div>
<div class="fourcol slogan">Discover your customers with enaging social commerce apps.</div>
<div class="twocol"></div>
</div>
<div class="twelevecol last sectiondivide"></div>
<div class="twelevecol last sectiondivide"></div>


</div>


@*services*@
<div class="twelevecol last services">
<div class="twelevecol last sectiondivide"></div>
<div class ="row">
<div class="fourcol service">
<div id="mask" class="hover"><div id="box" class="shadow"></div></div>
</div>
<div class="fourcol service"></div>
<div class="fourcol last service"></div>
</div>
<div class="twelevecol last sectiondivide"></div>
<div class ="row">
<div class="fourcol service">

<div id="animationDemo" class="hover">
	<div id="box" class="shadow"></div>
	<p class="center">Hover over me</p>
</div></div>
<div class="fourcol service"></div>
<div class="fourcol last service"></div>
</div>
<div class="twelevecol last sectiondivide"></div>
</div>


@*footer*@
<div class="twelevecol last footer">

<div class="threecol"></div>
<div class="threecol"></div>
<div class="threecol"></div>
<div class="threecol last"></div>


</div>


</div>