@{
  ViewBag.Title = "Projects";
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.PageTitle = "Projects";
}
<div class="row projectrow">
  <div class="sixcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"They worked at amazing speeds and with astonishing flexibility!"</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/edarling.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/edarlingscreen.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            One of the biggest dating sites in Europe. The 8 Sprint team built eDarling award winning anti fraud system and recurring billing system. eDarling’s success is largely built on users trust and ease of payment. The anti fraud system monitors platform activity, highlights suspicious user activity sandboxes flagged users. Essentially removing them from the platform while avoiding repercussions usually associated with out right banning users. The billing engine is built on top of a 3rd party payment provider and allows flexible, minimal friction payments together with highly configurable, daily changing payment plans and special offers.</div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="sixcol last project">
      <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"Others never got anything done. But 8sprints delivered!"</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/lloyds.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/Lloyds_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            Lloyd's is one of the largest banks in the UK had built a highly complex system for integrating dividend payouts for schemes held 
            by the majority of UK share holders in public companies. Their original system was much too slow for today's fast paced 
            customer facing site and the reporting demands of their analysts. We were tasked with improving the performance 
            of the system both for data analysis and consumer account retrieval. After several iteration we had the analysis routines running 
            in 2.5 minutes down from 20 hours and the previously timing out site allowed response times of no more than 20 ms.</div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="sixcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"They contributed invaluably in our platform."</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/billpay.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/BillPay_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            We were in charge of all technical aspects, designing and building a postgres/java based backend with integrated fraud detection 
            leveraging external creditworthiness information providers and automating HBCI for bank data retrieval. We also provided a reliable API and plugins for multiple online shop systems, e.g. Magento, xtCommerce.</div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="sixcol project last">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"Great product! Great speed! Excactly what we wanted!"</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/FRIENDFUND_lrg.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/friendfund_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            A full, scalable site for group gifting and crowd funding was launched inside of 3 months and iterated over 3 major versions. 
            Friendfund is the go to social group gifting and fund raising site. friendfund is built on a stable, scalable service oriented backend architecture, 
            reliable social network integrations, banking level financial transaction system with a configurable game rule system to accommodate different payment/deal scenarios. 
            </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api #everything
      </div>
    </div>
  </div>
 <div class="sixcol  project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"We went from spec to full market test in 1 month!"</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/zanox.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/zanox_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            Zanox used a complex SQL Server based ad tracking data platform. We built an entirely new data architecture on top of their exiting systems. The new system lowered insight turn around by 4/5th and 
            allowed for first time to accurately track all ad spending.
            </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="sixcol project last">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="sevencol ">
          <div class="projecttitle">
            <blockquote class="testimonial">
              <span>"Amazing turn around time! Will work with 8sprints again!"</span>
            </blockquote>
          </div>
        </div>
        <div class="fivecol last ">
          <div class="projectclient">
            <img src="../../Content/images/amnesty.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/amnestyss_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            Amnesty had a very complex requirement to build a system for tracking the legal documentation and processes involved in each of the individuals they represent.
            We built an entirely new data architecture on top of their exiting systems.</div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
 
  <div class="fourcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/pensionsregulator.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/TPR_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            This UK government department were responsible for the employers pension schemes in the UK and had recently built a system which allow customers to make personal return filings.</div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="fourcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/studygroup.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/studygroup_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            We built the full web presence from zero to cutting edge page with external designer inside of 3 weeks. The site is now real fast and has many an advanced feature.
            </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="fourcol project last">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/bt.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/BT_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            We implemented an ESB solution leveraging Apache Service Mix and custom developed connectors and JBI compliant transform & routing components to connect a total of 21 distributed legacy systems. 
            </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="fourcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/ICSS.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/chinasoft_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            Large Chinese IT outsourcing for Global Fortune 500 companies. We rolled out test strategies, cases and automated test runs extensively, cutting costs by 2/3 and test turn around from 3 weeks to 1 day. </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
  <div class="fourcol project">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/gad.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/GAD_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            We built a custom group payments widget consisting of simple copy and paste javascript snippet and already present semantic web markup. 
            GAD was able to integrate it seamlessly into their website in just a few minutes. 
            </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #semanticweb #design #data #payment #api
      </div>
    </div>
  </div>
  <div class="fourcol project last">
    <div class="projwrapper">
      <div class="projectheader clearfix">
        <div class="fourcol ">
        </div>
        <div class="eightcol last ">
          <div class="projectclient">
            <img src="../../Content/images/per4.png" /></div>
        </div>
      </div>
      <div class="projbody">
        <div class="sixcol">
          <div class="projbodyscreen">
            <img src="../../Content/images/per4_edit.PNG" /></div>
        </div>
        <div class="sixcol last">
          <div class="projbodytext">
            Custom development of comprehensive back office ERP system (supplier, inventory, customer & invoice management) with fully integrated online web shop. </div>
        </div>
      </div>
      <div class="projbodyfoot">
        #design #data #billing #payment #api
      </div>
    </div>
  </div>
</div>
