@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Projects";
}
<div class="row projectrow">
    <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/edarling.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

    <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/zanox.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/zanox_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


        <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/amnesty.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/amnestyss_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

        <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/billpay.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/BillPay_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

        <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/FRIENDFUND_lrg.png" /></div>
        
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/friendfund_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

        <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/lloyds.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/Lloyds_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


        <div class="fourcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
             
              <div class="fourcol ">

                </div>


            
         <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/pensionsregulator.png" /></div>
        
           </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/TPR_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


         <div class="fourcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="fourcol ">

                </div>


            
                <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/studygroup.png" /></div>
        
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/studygroup_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


         <div class="fourcol project last">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="fourcol ">

                </div>


            
                <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/bt.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/BT_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>



        <div class="fourcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
             
              <div class="fourcol ">

                </div>


            
         <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/ICSS.png" /></div>
        
           </div>
        
                    
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/chinasoft_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


         <div class="fourcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="fourcol ">

                </div>


            
                <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/gad.png" /></div>
        
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/GAD_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


         <div class="fourcol project last">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="fourcol ">

                </div>


            
                <div class="eightcol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/per4.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/per4_edit.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>



</div>
