@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row projectrow">
    <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/edarling.gif" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

    <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/zanox.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>


        <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/amnesty.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

    <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/billpay.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

       <div class="sixcol project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/FRIENDFUND_lrg.png" /></div>
        
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>

    <div class="sixcol last project">
        <div class="projwrapper">
            <div class="projectheader clearfix">
                <div class="sevencol ">

                            <div class="projecttitle">
                        <blockquote class="testimonial">
                            <span>"Those blokes were simply hopeless. We have never seen anything even approaching
                                this level of ineptitude."</span>
                        </blockquote>
                    </div>
                </div>


            
                <div class="fivecol last ">
                        <div class="projectclient">
                        <img src="../../Content/images/lloyds.png" /></div>
                </div>
        
                
            </div>
            <div class="projbody">
            <div class="sixcol">
            <div class="projbodyscreen"><img src="../../Content/images/edarlingscreen.PNG" /></div>
            </div>
            
            <div class="sixcol last">
            <div class="projbodytext">some explanation of what we sid and haow we did it. It wont need to be much just a teaser and showing the general area.</div>
            </div>
                

               
            </div>
             <div class="projbodyfoot">
                    #design #data #billing #payment #api
                </div>
        </div>
    </div>










</div>
<div class="row projectrow">
    <div class="fourcol project">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle">
                Scammer Detection
            </div>
        </div>
    </div>
    <div class="fourcol project">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle">
                Scammer Detection
            </div>
        </div>
    </div>
    <div class="fourcol project last">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle">
                Scammer Detection
            </div>
        </div>
    </div>
</div>
<div class="row projectrow">
    <div class="fourcol project">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle last">
                Scammer Detection
            </div>
        </div>
    </div>
    <div class="fourcol project">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle last">
                Scammer Detection
            </div>
        </div>
    </div>
    <div class="fourcol project last">
        <div class="projectheader clearfix">
            <div class="threecol projectclient">
                <img src="../../Content/images/edarling.gif" />
            </div>
            <div class="ninecol last projecttitle last">
                Scammer Detection
            </div>
        </div>
    </div>
</div>
