@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Services";
    
}
<div class="row">
    <div class="sixcol serv">
        <div class="twelvecol servtitle last">
            Mobile
        </div>
        <div class="twelvecol servcontent last">
                Mobile is the fastest growing part of our business. We have built several highly innovative mobile products from initial idea to market launch. We specialise in building mobile browser based experiences which feel like native apps. This gives you complete mobile carrier coverage and removes the installation barrier from your clients. We also specialise in native development  for Android, Windows Phone and iOS. 
                <div class="mapavt servpic ">
               <div class = "picborder"> <img src="../../Content/images/ipad.png" /></div>
            </div>
        <blockquote class="quote right">
                <span>We specialise in building mobile browser based experiences which feel like native apps. </span>
                
                </blockquote>We also specialise in native development  for Android, Windows Phone and iOS. </div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Social
            </div>
            <div class="twelvecol servcontent last">

      The 8 sprints team have built some of the most innovative and successful ecommerce products on the market. From group gifting and facebook commerce plugins to invoicing systems, 
      ecommmerce is a core competency of the team. 
                
                
                <blockquote class="quote">
                <span>we built friendfund which has taken off in the US and UK ecommerce markets</span>
                
                </blockquote>
                
                Most recently we built friendfund which has taken off in the US and UK ecommerce markets providing merchants with ready access to 
      social capital and peer to peer marketing. 
      </div>
      
      <div class="mapavt servpic right"><div class = "picborder">
                    <img src="../../Content/images/social.gif" /></div>
            
           
            </div>
</div>

    <div class="row">
        <div class="sixcol serv">
            <div class="twelvecol servtitle last">
                Data
            </div>
            <div class="twelvecol servcontent last">
                <div class="twelvecol last">
We are some of the most experienced data experts available. Having built data integrations for the bank of England and reporting systems for the UK government we can comfortably build any big data or analysis products you require. Using our 8 sprint methodology we carefully spec out the requirements and iteratively build your solution giving you 8 full opportunities to feedback and tell us where you would like improvements made .
                </div>
                <div class="twelvecol last mapavt"><div class = "picborder">
                    <img src="../../Content/images/data.png" /></div>
                </div>
            </div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Ecommerce
            </div>
            <div class="twelvecol servcontent last">
                <div class="twelvecol last">
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit amet, consectetur,
                </div>
                <div class="twelvecol last mapavt">
               <div class = "picborder">     <img src="../../Content/images/ecommerce.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixcol serv">
            <div class="twelvecol servtitle last">
                SEO
            </div>
            <div class="twelvecol servcontent last">
            </div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Extras
            </div>
            <div class="twelvecol servcontent last">
            </div>
        </div>
    </div>
