@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Services";
    
}
<div class="row">
    <div class="sixcol serv">
        <div class="twelvecol servtitle last">
            Mobile
        </div>
        <div class="twelvecol servcontent last">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.  
                <div class="mapavt servpic ">
               <div class = "picborder"> <img src="../../Content/images/ipad.png" /></div>
            </div>
            Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                quis nostrum exercitationem ullam    <blockquote class="quote right">
                <span>eque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet</span>
                
                </blockquote>corporis suscipit laboriosam, nisi ut aliquid
                ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                voluptas nulla pariatur?"</div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Social
            </div>
            <div class="twelvecol servcontent last">

        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis #
                
                
                <blockquote class="quote">
                <span>another super sentence from teh texct would go here.</span>
                
                </blockquote>
                
                
                 quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                ut labore et dolore magnam aliquam quaerat voluptatem.      <div class="mapavt servpic right"><div class = "picborder">
                    <img src="../../Content/images/social.gif" /></div>
                </div>Ut enim ad minima veniam,
                quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                voluptas nulla pariatur?"   
                </div>
           
            </div>
</div>

    <div class="row">
        <div class="sixcol serv">
            <div class="twelvecol servtitle last">
                Data
            </div>
            <div class="twelvecol servcontent last">
                <div class="twelvecol last">
                    "reporting analysis migration clensing,.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit amet, consectetur,
                </div>
                <div class="twelvecol last mapavt"><div class = "picborder">
                    <img src="../../Content/images/data.png" /></div>
                </div>
            </div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Ecommerce
            </div>
            <div class="twelvecol servcontent last">
                <div class="twelvecol last">
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit amet, consectetur,
                </div>
                <div class="twelvecol last mapavt">
               <div class = "picborder">     <img src="../../Content/images/ecommerce.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixcol serv">
            <div class="twelvecol servtitle last">
                SEO
            </div>
            <div class="twelvecol servcontent last">
            </div>
        </div>
        <div class="sixcol last serv">
            <div class="twelvecol servtitle last">
                Extras
            </div>
            <div class="twelvecol servcontent last">
            </div>
        </div>
    </div>
